<div class="page">

  <!-- HEADER -->
  <header class="header">
    <div class="logo">
      <div class="logo-box">S</div>
      <span>SIZA <small>Admin Portal</small></span>
    </div>

    <button class="login-btn">Login</button>
  </header>

  <!-- CONTENT -->
  <div class="content">

    <!-- LEFT -->
    <div class="left">
      <h2>Welcome to the SIZA Admin Portal</h2>
      <p>Manage and monitor operations across your platform efficiently.</p>

      <ul class="menu">
        <li>Dashboard</li>
        <li>Providers</li>
        <li>Jobs</li>
        <li>Payments</li>
        <li>Reports</li>
        <li>Users & Roles</li>
        <li>Settings</li>
      </ul>
    </div>

    <!-- RIGHT -->
    <div class="right">
      <div class="login-card">
        <h3>Login</h3>

        <form>
          <label>Email Address</label>
          <input type="email" placeholder="Enter email" />

          <label>Password</label>
          <input type="password" placeholder="Enter password" />

          <button  (click)="login()">Login</button>

          <div class="extras">
            <label><input type="checkbox" /> Remember me</label>
            <a href="#">Forgot password?</a>
          </div>

          <p class="footer">Powered by NOVAQ</p>
        </form>
      </div>
    </div>

  </div>
</div>